<% if active_participations.any? %>

  <% active_participations.each do |participation| %>

    <div class='row d-flex'>

      <div class='col-md-7'>
        <span class=<%= participation.user.get_class_associated_with_position %>>
          <%= participation.user.position_i18n %>
        </span>
        <span class='overflow-hidden text-nowrap text-truncate ml-1'>
          <%= participation.user.public_name %>
        </span>
      </div>

      <div class='col-md-5 text-right'>
        <%= link_to I18n.t('participations.edit.leave'), category_counseling_room_participation_path(category.id, counseling_room.id, participation.id),
                                                         method: :delete, 'data-confirm' => I18n.t('participations.destroy.confirmation.by_creator') %>
      </div>

    </div>

    <p><%= participation.user.introduction %></p>

    <hr>

  <% end %>

  <div class='d-flex justify-content-center mt-3'>
    <%= paginate active_participations, theme: 'bootstrap-5' %>
  </div>

<% else %>

  <p class='text-center'><%= I18n.t('participations.edit.no_participations.active') %></p>

<% end %>