<%= form_with model: counseling_room do |f| %>

  <div class='form-group row'>
    <%= f.label :topic_image %>
    <%= f.file_field :topic_image, accept: 'image/*' %>
  </div>

  <div class='form-group row'>
    <%= f.label :topic %>
    <%= f.text_field :topic, class: 'form-control' %>
  </div>
  
  <div class='form-group row'>
    <%= f.label :detail %>
    <%= f.text_area :detail, class: 'form-control' %>
  </div>
  
  <div class='form-group row'>
    <%= f.submit btn_name, class: 'btn btn-sm success-btn' %>
  </div>

<% end %>