<p class='guide-links'>
  <%= link_to I18n.t('top_page'),         root_path, data: { turbolinks: false } %>>
  <%= link_to I18n.t('menu'),             menu_path %>>
  <%= link_to I18n.t('categories.title'), categories_path %>>
  <%= link_to @category.name, category_counseling_rooms_path(@category.id) %>>
  <%= link_to @counseling_room.topic, category_counseling_room_path(@category.id, @counseling_room.id) %>>
  <%= I18n.t('counseling_rooms.edit.title') %>
</p>

<div class='section-title'><h2><%= I18n.t('participations.edit.title.active') %></h2></div>
<section class='pb-5'>
  <%= render 'public/counseling_rooms/edit_active_participations_list', category: @category, counseling_room: @counseling_room, active_participations: @active_participations %>
</section>

<div class='section-title'><h2><%= I18n.t('participations.edit.title.waiting') %></h2></div>
<section class='mt-5 pb-5'>
  <%= render 'public/counseling_rooms/edit_waiting_participations_list', category: @category, counseling_room: @counseling_room, waiting_participations: @waiting_participations %>
</section>

<div class='section-title'><h2><%= I18n.t('counseling_rooms.edit.title') %></h2></div>

<section class='mt-5'>
  <%= render 'layouts/errors', obj: @counseling_room %>
  <%= render 'public/counseling_rooms/form', category: @category, counseling_room: @counseling_room, btn_name: I18n.t('update') %>
  <p class='text-right'>
    <%= link_to I18n.t('counseling_rooms.show.destroy.btn'),
                category_counseling_room_path(@category.id, @counseling_room.id), method: :delete,
                'data-confirm' => I18n.t('counseling_rooms.show.destroy.confirmation') %>
  </p>
</section>