<p class='guide-links'>
  <%= link_to I18n.t('top_page'),         root_path %>>
  <%= link_to I18n.t('menu'),             menu_path %>>
  <%= link_to I18n.t('categories.title'), categories_path %>>
  <%= I18n.t('counseling_rooms.index.title') %>
</p>

<div class='section-title'><h2><%= @category.name %></h2></div>

<section>
  
  <!--新規相談室作成のリンク-->
  <div class='mb-3 text-right'>
    <%= link_to new_category_counseling_room_path(@category.id) do %>
      <i class="fa-solid fa-plus"></i>
      <%= I18n.t('counseling_rooms.index.new') %>
    <% end %>
  </div>
  
  <!--検索バー-->
  <%= form_with url: category_counseling_rooms_path(@category.id), method: :get, local: true do |f| %>
    <div class='form-group row justify-content-end'>
      <%= f.text_field :content, class: 'form-control col-md-5 col-9', placeholder: I18n.t('search_blank') %>
      <%= f.submit I18n.t('search'), class: 'btn btn-sm success-btn ml-3' %>
    </div>
  <% end %>
  
  <div class='d-flex flex-wrap justify-content-center'>
    <% @counseling_rooms.each do |room| %>
      <%= link_to category_counseling_room_path(@category.id, room.id) do %>
        <div class='counseling-room-item'>

          <p class='overflow-hidden text-nowrap text-truncate'>
            <i class="fa-solid fa-people-roof"></i>
            <%= room.topic %>
          </p>
          
          <div class='text-right'>
            <div>
              <i class="fa-solid fa-user-group"></i>
              <%= room.participations.where(status: true).count %>
            </div>
            
            <div class='ml-3 rounded'>
              <%= current_user.get_participation_status(room) %>
            </div>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>
  
</section>
