<p class='guide-links'>
  <%= link_to I18n.t('top_page'),         root_path, data: { turbolinks: false } %>>
  <%= link_to I18n.t('menu'),             menu_path %>>
  <%= link_to I18n.t('categories.title'), categories_path %>>
  <%= I18n.t('counseling_rooms.search.title') %>
</p>

<div class='section-title'>
  <h2>
    #<%= @tag_name %>
    <% if @counseling_rooms.any? %>
      <%= ' ' + @counseling_rooms.count.to_s + I18n.t('counseling_rooms.search.count') %>
    <% end %>
  </h2>
</div>

<section>
  
  <!--タグ検索バー-->
  <%= form_with url: search_rooms_path, method: :get, local: true do |f| %>
    <div class='row justify-content-md-end justify-content-center'>
      <div class='form-group col-md-5 col-9'>
        <%= f.text_field :tag_name, class: 'form-control', placeholder: I18n.t('search_tag') %>
      </div>
      <div class='form-group mt-1'>
        <%= f.submit I18n.t('search'), class: 'btn btn-sm success-btn' %>
      </div>
    </div>
  <% end %>
  
  <%= render 'public/counseling_rooms/index', counseling_rooms: @counseling_rooms, param_name: 'normal_page', current_tab: 'none' %>
  
</section>
