<p class='guide-links'>
  <%= link_to I18n.t('top_page'),         root_path %>>
  <%= link_to I18n.t('menu'),             menu_path %>>
  <%= link_to I18n.t('categories.title'), categories_path %>>
  <%= link_to @category.name, category_counseling_rooms_path(@category.id) %>>
  <%= I18n.t('counseling_rooms.show.title') %>
</p>

<div class='section-title'>
  <h2 class='overflow-hidden text-nowrap text-truncate'>
    <%= @counseling_room.caption %>
  </h2>
</div>

<section>
  
  <div class='mb-3 text-right'>
    
    <%= current_user.get_participation_status(@counseling_room) %>
  
    <div class='participation-status-display'>
      <%= render 'public/participations/btn', counseling_room: @counseling_room, category: @category, participation: @participation %>
    </div>
    
  </div>

  <div class='responsive-disabled'>
    <%= image_tag @counseling_room.get_topic_image(400, 400) %>
  </div>
  <div class='resposive-displayed'>
    <%= image_tag @counseling_room.get_topic_image(224, 224) %>
  </div>
  
  <p><%= @counseling_room.caption %></p>
  
  <p><%= @counseling_room.detail %></p>
  
  <hr>
  
  <% if @participations.exists?(user_id: current_user.id) %>
  
    <div>
      <i class="fa-solid fa-user-group"></i>
      <div>
        <% @participations.each do |participation| %>
          <%= link_to user_path(participation.user_id) do %>
            <%= image_tag participation.user.get_profile_image(15, 15), class: 'rounded-circle mr-2' %>
          <% end %>
        <% end %>
      </div>
    </div>
    
    <hr>
    
    <!--後ほどここに意見一覧作成予定-->
    
  <% else %>
  
    <p class='text-center'>
      <%= I18n.t('counseling_rooms.show.no_viewing_permission') %>
    </p>
    
  <% end %>
  
</section>