<div class='d-flex flex-wrap justify-content-center'>

  <% if posts.present? %><!--投稿が存在する場合-->

    <% posts.each do |a_post| %> <!--各ユーザーの情報表示-->
      <%= link_to post_path(a_post.id) do %>
        <div class='post-index-item'>

          <div class='index-post-image'>
            <%= image_tag a_post.get_post_image(278, 208) %>
          </div>
          
          <hr>

          <p><%= a_post.title %></p>

          <p class='overflow-hidden text-nowrap text-truncate'>
            <%= a_post.caption %>
          </p>
          
          <p class='overflow-hidden text-nowrap text-truncate'>
            <%= a_post.body %>
          </p>

          <p><i class="fa-solid fa-user"></i><%= a_post.user.public_name %></p>
          
          <div class='text-right'>
            <i class="fa-regular fa-comment"></i>
            <span class='comment-count'><%= a_post.comments.count %></span>
          </div>

        </div>
      <% end %>
    <% end %>

  <% else %><!--投稿が存在しない場合-->
    <p class='mt-5'><%= I18n.t('posts.index.not_exist') %></p>
  <% end %>

</div>

<div class='d-flex justify-content-center py-3'>
  <%= paginate posts, theme: 'bootstrap-5' %>
</div>