<% if posts.present? %><!--投稿が存在する場合-->
  <div class='d-flex flex-wrap justify-content-center'>

    <% posts.each do |a_post| %> <!--各投稿の情報表示-->
      <%= link_to post_path(a_post.id) do %>
        <div class='post-index-item'>

          <div class='index-post-image'>
            <%= image_tag a_post.get_post_image(278, 208) %>
          </div>

          <hr>

          <p class='text-right'>
            <object>
              <span id='bookmark_btn_<%= a_post.id %>'>
                <%= render 'public/bookmarks/btn', a_post: a_post %>
              </span>
            </object>
            <object>
              <span id='post_favorite_btn_<%= a_post.id %>'>
                <%= render 'public/post_favorites/btn', a_post: a_post %>
              </span>
            </object>
            <span>
              <i class="fa-regular fa-comment"></i>
              <span class='comment-count'><%= a_post.comments.count %></span>
              <i class="fa-solid fa-chart-line"></i>
              <%= a_post.post_views.count %>
            </span>
          </p>

          <p><%= a_post.title %></p>

          <p class='overflow-hidden text-nowrap text-truncate'>
            <%= a_post.caption %>
          </p>

          <p class='overflow-hidden text-nowrap text-truncate'>
            <%= a_post.body %>
          </p>

          <div class='row'>
            <p class='col-5 overflow-hidden text-nowrap text-truncate'>
              <i class="fa-solid fa-user"></i><%= a_post.user.public_name %>
            </p>

            <p class='col-7'>
              <i class="fa-regular fa-clock"></i>
              <%= a_post.created_at.strftime('%Y/%m/%d %H:%M') %>
            </p>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>

  <div class='d-flex justify-content-center py-3'>
    <%= paginate posts, theme: 'bootstrap-5' %>
  </div>

<% else %><!--投稿が存在しない場合-->

  <p class='mt-5 text-center pb-5'><%= I18n.t('posts.index.not_exist') %></p>

<% end %>