<p class='guide-links'>
  <%= link_to I18n.t('top_page'), root_path %>>
  <%= link_to I18n.t('menu'),     menu_path %>>
  <%= I18n.t('posts.index.title') %>
</p>

<div class='section-title'>
  <h2>
    <% if @tag_name.present? %>
      #<%= @tag_name %>
    <% else %>
      <%= I18n.t('posts.index.title') %>
    <% end %>
  </h2>
</div>

<section>

  <!--新規投稿リンク-->
  <p class='mb-3 text-right pr-1'>
    <%= link_to new_post_path do %>
      <%= I18n.t('posts.new.title') %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </p>

  <%= render 'public/posts/bars' %>

  <!--ソート切り替えリンク-->
  <div class='text-center py-2'>
  <%= link_to I18n.t('sort.latest'), posts_path(latest: true) %>
  |<%= link_to I18n.t('sort.old'), posts_path(old: true) %>
  |<%= link_to I18n.t('sort.favorites_count'), posts_path(favorites_count: true) %>
  </div>

  <!--投稿一覧表示-->
  <%= render 'public/posts/index', posts: @posts %>

</section>
