<p class='guide-links'>
  <%= link_to I18n.t('top_page'),    root_path, data: { turbolinks: false } %>>
  <%= link_to I18n.t('menu'),        menu_path %>>
  <%= link_to I18n.t('menus.posts'), posts_path %>>
  <%= I18n.t('posts.new.title') %>
</p>

<div class='section-title'><h2><%= I18n.t('posts.new.title') %></h2></div>

<section>
  
  <%= render 'layouts/errors', obj: @post %>
  <%= render 'public/posts/form', a_post: @post, btn_name: I18n.t('posts.new.create_btn') %>
  
</section>