<p class='guide-links'>
  <%= link_to I18n.t('top_page'),    root_path, data: { turbolinks: false } %>>
  <%= link_to I18n.t('menu'),        menu_path %>>
  <%= link_to I18n.t('menus.posts'), posts_path %>>
  <%= @post.title %>
</p>

<div class='section-title'><h2><%= I18n.t('posts.show.title') %></h2></div>

<section>

  <div class='d-md-block d-none'>
    <%= image_tag @post.get_post_image(400, 400) %>
  </div>
  <div class='d-md-none'>
    <%= image_tag @post.get_post_image(224, 224) %>
  </div>

  <div class='pt-3 d-flex flex-md-row flex-column-reverse'>

    <div class='col-md-6'>
      <p class='md-font mb-0'><%= @post.prefecture_i18n %></p>
      <h5>
        <%= @post.title %>
      </h5>
    </div>

    <p class='text-right col-md-6'>

      <span id='bookmark_btn_<%= @post.id %>' class='mr-3'>
        <%= render 'public/bookmarks/btn', a_post: @post %>
      </span>

      <span id='post_favorite_btn_<%= @post.id %>' class='mr-3'>
        <%= render 'public/post_favorites/btn', a_post: @post %>
      </span>

      <i class="fa-regular fa-comment"></i>
      <span class='comment-count mr-3'><%= @post.comments.count %></span>

      <i class="fa-solid fa-chart-line"></i>
      <%= @post.post_views.count %>

    </p>

  </div>

  <p><%= @post.caption %></p>

  <hr>

  <p><%= @post.body %></p>

  <div class='d-flex flex-wrap'>
    <% if @post.post_tags.present? %>
      <% @post.post_tags.each do |post_tag| %>
        <%= link_to posts_path(tag_name: post_tag.name) do %>
          <div class='tag-item'>
            #<%= post_tag.name %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <hr>

  <div class='row'>
    <p class='col-9'>
      <i class="fa-regular fa-clock"></i>
      <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %>
    </p>
    <% if @post.user == current_user %>
      <div class='col-3 text-right'>
        <%= link_to I18n.t('posts.show.edit_btn'), edit_post_path(@post.id), class: 'pb-5' %>
      </div>
    <% end %>
  </div>

  <div>
    <%= link_to user_path(@post.user.canonical_name) do %>
      by <i class="fa-regular fa-user"></i><%= @post.user.public_name %>
    <% end %>
  </div>

  <hr>

  <div class='comments'>
    <%= render 'public/comments/list', a_post: @post %>
  </div>

  <div class='comment-form mt-5'>
    <div class='errors'>
      <%= render 'layouts/errors', obj: @comment %>
    </div>
    <%= render 'public/comments/form', a_post: @post, comment: @comment %>
  </div>

</section>