<p class='guide-links'>
  <%= link_to I18n.t('top_page'),    root_path %>>
  <%= link_to I18n.t('menu'),        menu_path %>>
  <%= link_to I18n.t('menus.posts'), posts_path %>>
  <%= @post.title %>
</p>

<div class='section-title'><h2><%= I18n.t('posts.show.title') %></h2></div>

<section>

  <%= image_tag @post.get_post_image(300, 300) %>

  <h5 class='pt-3'><%= @post.title %></h5>

  <p><%= @post.caption %></p>

  <hr>

  <p><%= @post.body %></p>
  
  <hr>

  <p>
    <i class="fa-regular fa-clock"></i>
    <%= @post.created_at.strftime('%y/%m/%d %H:%M') %>
  </p>

  <p class='pb-3'>
    <%= link_to user_path(@post.user.canonical_name) do %>
      by <i class="fa-solid fa-user"></i><%= @post.user.public_name %>
    <% end %>
  </p>

  <% if @post.user == current_user %>
    <hr>
    <%= link_to I18n.t('posts.show.edit_btn'), edit_post_path(@post.id), class: 'pb-5' %>
  <% end %>

</section>