<p class='guide-links'>
  <%= link_to I18n.t('top_page'),    root_path %>>
  <%= link_to I18n.t('menu'),        menu_path %>>
  <%= link_to I18n.t('menus.posts'), posts_path %>>
  <%= @post.title %>
</p>

<div class='section-title'><h2><%= I18n.t('posts.show.title') %></h2></div>

<section>

  <div class='responsive-disabled'>
    <%= image_tag @post.get_post_image(400, 400) %>
  </div>
  <div class='resposive-displayed'>
    <%= image_tag @post.get_post_image(224, 224) %>
  </div>

  <div class='pt-3 d-flex flex-md-row flex-column-reverse'>
    
    <h5 class='col-md-6'>
      <%= @post.title %>
    </h5>
    
    <p class='text-right col-md-6'>
      <i class="fa-regular fa-comment"></i>
      <span class='comment-count'><%= @post.comments.count %></span>
      <span id='post_favorite_btn_<%= @post.id %>' class='ml-3'>
        <%= render 'public/post_favorites/btn', a_post: @post %>
      </span>
    </p>
    
  </div>

  <p><%= @post.caption %></p>

  <hr>

  <p><%= @post.body %></p>

  <hr>

  <div class='row'>
    <p class='col-9'>
      <i class="fa-regular fa-clock"></i>
      <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %>
    </p>
    <% if @post.user == current_user %>
      <div class='col-3'>
        <%= link_to I18n.t('posts.show.edit_btn'), edit_post_path(@post.id), class: 'pb-5' %>
      </div>
    <% end %>
  </div>

  <div class='pb-3'>
    <%= link_to user_path(@post.user.canonical_name) do %>
      by <i class="fa-regular fa-user"></i><%= @post.user.public_name %>
    <% end %>
  </div>

  <hr>

  <div class='comments'>
    <%= render 'public/comments/list', a_post: @post %>
  </div>

  <div class='comment-form py-5'>
    <%= render 'public/comments/form', a_post: @post, comment: @comment %>
  </div>

</section>