<div class='d-flex justify-content-around'>
  <%= link_to user_followers_path(user.canonical_name) do %>
    <div>
      <p class='text-center mb-0'>
        <%= I18n.t('relationships.followers') %>
      </p>
      <p class='text-center'>
        <%= user.followers.count %>
      </p>
    </div>
  <% end %>
  <%= link_to user_followings_path(user.canonical_name) do %>
    <div>
      <p class='text-center mb-0'>
        <%= I18n.t('relationships.followings') %>
      </p>
      <p class='text-center'>
        <%= user.followings.count %>
      </p>
    </div>
  <% end %>
</div>