<div class='d-flex justify-content-center'>
  <%= link_to user_followers_path(user.canonical_name), remote: true do %>
    <div>
      <p class='text-center'>
        <strong><%= I18n.t('relationships.followers') %></strong>
      </p>
      <p class='text-center'>
        <%= user.followers.count %>
      </p>
    </div>
  <% end %>
  <%= link_to user_followings_path(user.canonical_name), remote: true do %>
    <div>
      <p class='text-center'>
        <strong><%= I18n.t('relationships.followings') %></strong>
      </p>
      <p class='text-center'>
        <%= user.followings.count %>
      </p>
    </div>
  <% end %>
</div>