<section>
  
  <div id='toppage-box'>
    <h1 id='toppage-title'><%= I18n.t('site_name') %></h1>
  </div>
  
  <p id='toppage-caption'><%= I18n.t('top.caption') %></p>
  
  <div class='mt-5 row d-flex'>
    <h5 class='text-center col-md-6 mb-5'><%=link_to I18n.t('login'),  new_user_session_path %></h5>
    <h5 class='text-center col-md-6 mb-5'><%=link_to I18n.t('signin'), new_user_registration_path %></h5>
  </div>
  
  <h6 class='text-center'><%=link_to I18n.t('guest_login'), users_guest_sign_in_path, method: :post %></h6>
  
</section>
