<% if chats.present? %>

  <% chats.each do |chat| %>
  
    <% if chat.user_id == current_user.id %>
    
      <div class='chat-box ml-auto'>
        <p class='mb-0'>
          <%= chat.content %>
          <%= link_to chat_path(chat.id, chat_room_id: room.id), method: :delete, remote: true, data: {"turbolinks" => false},
                                                                 class: 'ml-auto', 'data-confirm' => I18n.t('chats.destroy.confirmation') do %>
            <i class="fa-regular fa-circle-xmark"></i>
          <% end %>
        </p>
      </div>
      
      <p class='font-sm text-right'><%= chat.get_sent_time %></p>
    
    <% else %>
    
      <div class='chat-box mr-auto'>
        <p class='mb-0'><%= chat.content %></p>
      </div>
      
      <p class='font-sm text-left'><%= chat.get_sent_time %></p>
    
    <% end %>
  
  <% end %>
  
<% else %>
  <p class='text-center no-chat-wording'><%= I18n.t('chats.show.no_chat_history') %></p>
<% end %>