<p class='guide-links'>
  <%= link_to I18n.t('top_page'), root_path, data: { turbolinks: false } %>>
  <%= link_to I18n.t('menu'),     menu_path %>>
  <%= link_to I18n.t('mypage'),   user_path(current_user.canonical_name) %>>
  <%= I18n.t('chats.index.title') %>
</p>

<div class='section-title'><h2><%= I18n.t('chats.index.title') %></h2></div>

<section>

  <% if @entries.any? %>
  
    <% @entries.each do |entry| %>
      <%= link_to chat_path(entry.get_partner(current_user).id), data: { turbolinks: false } do %>
        <div class='d-flex chat-rooms-item'>
          <div>
            <%= image_tag entry.get_partner(current_user).get_profile_image(40, 40), class: 'rounded-circle mt-2 mr-1' %>
          </div>

          <div class='w-100'>
            <p class='mb-0'>
              <%= entry.get_partner(current_user).public_name %>
              <% if entry.is_there_unread?(entry.get_partner(current_user)) %>
                <span class='badge rounded-pill bg-danger md-font'>
                  <%= I18n.t('chats.index.unread_exists') %>
                </span>
              <% end %>
            </p>

            <p class='md-font overflow-hidden text-nowrap text-truncate px-0 mb-0'>
              <%= entry.get_last_chat(current_user).content %>
            </p>
            <p class='sm-font px-0 mb-0 text-right'>
              <%= entry.get_last_chat(current_user).get_sent_time %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
    
  <% else %>
    <p class='text-center mt-5'><%= I18n.t('chats.index.zero_chat_room') %></p>
  <% end %>

</section>