<p class='guide-links'>
  <%= link_to I18n.t('top_page'), root_path %>>
  <%= link_to I18n.t('menu'),     menu_path %>>
  <%= link_to I18n.t('mypage'),   user_path(current_user.canonical_name) %>>
  <%= I18n.t('chats.index.title') %>
</p>

<div class='section-title'><h2><%= I18n.t('chats.index.title') %></h2></div>

<section>

  <% if @entries.present? %>
    <% @entries.each do |entry| %>

      <%= link_to chat_path(entry.get_partner(current_user).id) do %>
        <div class='row'>

          <div class='col-md-2 col-3'>
            <%= image_tag entry.get_partner(current_user).get_profile_image(45, 45), class: 'rounded-circle' %>
          </div>

          <div class='col-md-10 col-9'>
            <p class='mb-0'>
              <%= entry.get_partner(current_user).public_name %>
              <% if entry.is_there_unread?(entry.get_partner(current_user)) %>
                <span class='badge rounded-pill bg-danger sm-font'>
                  <%= I18n.t('chats.index.unread_exists') %>
                </span>
              <% end %>
            </p>
            <div class='d-flex'>
              <% if entry.get_last_chat %>
                <p class='sm-font overflow-hidden text-nowrap text-truncate px-0 mb-0 col-8'>
                  <%= entry.get_last_chat.content %>
                </p>
                <p class='sm-font text-right px-0 mb-0 col-4 pt-2'>
                  <%= entry.get_last_chat.get_sent_time %>
                </p>
              <% else %>
                <p class='sm-font mb-0'><%= I18n.t('chats.index.zero_chat_history') %></p>
              <% end %>
            </div>
          </div>

        </div>
      <% end %>
      <hr>

    <% end %>
    
  <% else %>
    <p class='text-center mt-5 pb-5'><%= I18n.t('chats.index.zero_chat_room') %></p>
  <% end %>

</section>