<p class='guide-links'>
  <%= link_to I18n.t('top_page'),         root_path %>>
  <%= link_to I18n.t('menu'),             admin_root_path %>>
  <%= link_to I18n.t('categories.title'), admin_categories_path %>>
  <%= I18n.t('counseling_rooms.index.title') %>
</p>

<div class='section-title'><h2><%= @category.name %></h2></div>

<section>
  
  <!--検索バー-->
  <%= form_with url: admin_category_counseling_rooms_path(@category.id), method: :get, local: true do |f| %>
    <div class='form-group row justify-content-end mb-1'>
      <%= f.text_field :content, class: 'form-control col-md-5 col-9', placeholder: I18n.t('search_blank') %>
      <%= f.submit I18n.t('search'), class: 'btn btn-sm success-btn ml-md-3 ml-1' %>
    </div>
  <% end %>
  
  <!--ソート切り替えリンク-->
  <div class='row d-flex justify-content-center py-2'>
    <div class='d-md-flex'>
      <p class='mb-0'>
        <%= link_to I18n.t('sort.latest'), admin_category_counseling_rooms_path(@category.id, latest: true) %>
        |<%= link_to I18n.t('sort.old'),   admin_category_counseling_rooms_path(@category.id, old: true) %>
      </p>
      <p class='mb-0'><span class='d-md-inline d-none pl-1'>|</span>
        <%= link_to I18n.t('sort.participations_count'),
                                           admin_category_counseling_rooms_path(@category.id, participations_count: true) %>
      </p>
      <p class='mb-0'><span class='d-md-inline d-none pl-1'>|</span>
        |<%= link_to I18n.t('sort.opinions_count'),
                                           admin_category_counseling_rooms_path(@category.id, opinions_count: true) %>
      </p>
    </div>
  </div> 

  <%= render 'admin/counseling_rooms/index', counseling_rooms: @counseling_rooms %>

</section>
