<p class='guide-links'>
  <%= link_to I18n.t('top_page'),         root_path %>>
  <%= link_to I18n.t('menu'),             admin_root_path %>>
  <%= link_to I18n.t('categories.title'), admin_categories_path %>>
  <%= I18n.t('counseling_rooms.search.title') %>
</p>

<div class='section-title'>
  <h2>
    #<%= @tag_name %>
    <% if @counseling_rooms.present? %>
      <%= ' ' + @counseling_rooms.count.to_s + I18n.t('counseling_rooms.search.count') %>
    <% end %>
  </h2>
</div>

<section>
  
  <!--タグ検索バー-->
  <%= form_with url: admin_search_rooms_path, method: :get, local: true do |f| %>
    <div class='form-group row justify-content-end'>
      <%= f.text_field :tag_name, class: 'form-control col-md-5 col-9', placeholder: I18n.t('search_tag') %>
      <%= f.submit I18n.t('search'), class: 'btn btn-sm success-btn ml-md-3 ml-1' %>
    </div>
  <% end %>
  
  <%= render 'admin/counseling_rooms/index', counseling_rooms: @counseling_rooms %>
  
</section>