<p class='guide-links'>
  <%= link_to I18n.t('top_page'),         root_path, data: { turbolinks: false } %>>
  <%= link_to I18n.t('menu'),             admin_root_path %>>
  <%= link_to I18n.t('categories.title'), admin_categories_path %>>
  <%= link_to @category.name, admin_category_counseling_rooms_path(@category.id) %>>
  <%= I18n.t('counseling_rooms.show.title') %>
</p>

<div class='section-title'>
  <h2 class='overflow-hidden text-nowrap text-truncate'>
    <%= @counseling_room.topic %>
  </h2>
</div>

<section>
  
  <p class='text-right'>
    <%= link_to I18n.t('counseling_rooms.show.destroy.btn'), 
                admin_category_counseling_room_path(@category.id, @counseling_room.id), method: :delete,
                'data-confirm' => I18n.t('counseling_rooms.show.destroy.confirmation') %>
  </p>
  
  <% if @counseling_room.topic_image.present? %>
    <div class='d-md-block d-none'>
      <%= image_tag @counseling_room.get_topic_image(400, 400) %>
    </div>
    <div class='d-md-none'>
      <%= image_tag @counseling_room.get_topic_image(224, 224) %>
    </div>
  <% end %>
  
  <div class='d-flex flex-wrap mt-3'>
    <% if @counseling_room.room_tags.present? %>
      <% @counseling_room.room_tags.each do |room_tag| %>
        <%= link_to admin_search_rooms_path(tag_name: room_tag.name) do %>
          <div class='tag-item'>
            #<%= room_tag.name %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
  <h4 class='mt-5'><%= @counseling_room.topic %></h4>
  
  <p><%= @counseling_room.detail %></p>
  
  <p class='text-right'>
    <i class="fa-solid fa-user-group"></i>
    <span class='mr-2'>
      <%= @participations.count %>
    </span>
    
    <i class="fa-regular fa-comment"></i>
    <span class='opinions-count mr-2'>
      <%= @opinions.count %>
    </span>
    
    <%= link_to admin_user_path(@counseling_room.user.canonical_name) do %>
      <%= I18n.t('counseling_rooms.show.creator') + @counseling_room.user.public_name %>
    <% end %>
    
  </p>
  
  <hr>
  
  <div>
    <i class="fa-solid fa-user-group"></i>
    <% @participations.each do |participation| %>
      <%= link_to admin_user_path(participation.user.canonical_name) do %>
        <%= image_tag participation.user.get_profile_image(40, 40), class: 'rounded-circle m-1' %>
      <% end %>
    <% end %>
  </div>
  
  <hr>
  
  <div class='opinions-list px-2'>
    <%= render 'admin/opinions/list', opinions: @opinions, category: @category, counseling_room: @counseling_room %>
  </div>
  
</section>