<div class='row d-flex justify-content-end'>
  <ul id='tab-menu' class='d-flex col-md-6 mb-0 pr-0'>
    <li>
      <a href='#post_keyword_tab' class='btn-active'><i class="fa-solid fa-circle"></i></a>
      <label class='sm-font'><%= I18n.t('categories.bars.keyword') %></label>
    </li>
    <li>
      <a href='#post_tag_tab' class=''><i class="fa-regular fa-circle"></i></a>
      <label class='sm-font'><%= I18n.t('categories.bars.tag') %></label>
    </li>
  </ul>
</div>

<div id='tab-contents'>

  <!--キーワード検索バー-->
  <div id='post_keyword_tab' class='tab'>
    <%= form_with url: admin_posts_path, method: :get, local: true do |f| %>
      <div class='form-group row justify-content-end mb-1'>
        <div class='col-md-6 col-11'>
          <%= f.select :prefecture, Post.prefectures.keys.map {|k| [I18n.t("enums.post.prefecture.#{k}"), k]}, class: 'form-control' %>
        </div>
      </div>
      <div class='form-group row justify-content-end'>
        <%= f.text_field :content, class: 'form-control col-md-5 col-9', placeholder: I18n.t('search_blank') %>
        <%= f.submit I18n.t('search'), class: 'btn btn-sm success-btn ml-md-3 ml-1' %>
      </div>
    <% end %>
  </div>
  
  <!--タグ検索バー-->
  <div id='post_tag_tab' class='tab'>
    <%= form_with url: admin_posts_path, method: :get, local: true do |f| %>
      <div class='form-group row justify-content-end'>
        <%= f.text_field :tag_name, class: 'form-control col-md-5 col-9', placeholder: I18n.t('search_tag') %>
        <%= f.submit I18n.t('search'), class: 'btn btn-sm success-btn ml-md-3 ml-1' %>
      </div>
    <% end %>
  </div>

</div>

<%= javascript_pack_tag 'posts_bars_tab' %>