<p class='guide-links'>
  <%= link_to I18n.t('top_page'), root_path %>>
  <%= link_to I18n.t('menu'),     admin_root_path %>>
  <%= I18n.t('posts.index.title') %>
</p>

<div class='section-title'>
  <h2>
    <% if @tag_name.present? %>
      #<%= @tag_name %>
    <% else %>
      <%= I18n.t('posts.index.title') %>
    <% end %>
  </h2>
</div>

<section>

  <!--キーワード検索バー-->
  <%= form_with url: admin_posts_path, method: :get, local: true do |f| %>
    <div class='form-group row justify-content-end'>
      <%= f.text_field :content, class: 'form-control col-md-5 col-9', placeholder: I18n.t('search_blank') %>
      <%= f.submit I18n.t('search'), class: 'btn btn-sm success-btn ml-md-3 ml-1' %>
    </div>
  <% end %>
  
  <!--タグ検索バー-->
  <%= form_with url: admin_posts_path, method: :get, local: true do |f| %>
    <div class='form-group row justify-content-end'>
      <%= f.text_field :tag_name, class: 'form-control col-md-5 col-9', placeholder: I18n.t('search_tag') %>
      <%= f.submit I18n.t('search'), class: 'btn btn-sm success-btn ml-md-3 ml-1' %>
    </div>
  <% end %>

  <!--ソート切り替えリンク-->
  <div class='text-center py-2'>
  <%= link_to I18n.t('sort.latest'), admin_posts_path(latest: true) %>
  |<%= link_to I18n.t('sort.old'), admin_posts_path(old: true) %>
  |<%= link_to I18n.t('sort.favorites_count'), admin_posts_path(favorites_count: true) %>
  </div>

  <!--投稿一覧表示-->
  <%= render 'admin/posts/index', posts: @posts %>

</section>
