<p class='guide-links'>
  <%= link_to I18n.t('top_page'), root_path, data: { turbolinks: false } %>>
  <%= link_to I18n.t('menu'),     admin_root_path %>>
  <%= I18n.t('menus.posts') %>
</p>

<div class='section-title'>
  <h2>
    <% if @tag_name %>
      #<%= @tag_name %>
      <% if @posts %>
        <%= ' ' + @posts.count.to_s + I18n.t('posts.index.count') %>
      <% end %>
    <% elsif @keyword || @prefecture %>
      <%= I18n.t('posts.index.prefecture') + I18n.t('enums.post.prefecture.' + @prefecture) %>
      </br><i class="fa-solid fa-magnifying-glass"></i><%= '「' + @keyword + '」' %>
    <% else %>
      <%= I18n.t('posts.index.title') %>
    <% end %>
  </h2>
</div>

<section>

  <%= render 'admin/posts/bars', prefecture: @prefecture, sort: @sort, keyword: @keyword, current_tab: @current_tab %>

  <!--ソート切り替えリンク-->
  <p class='md-font text-center mb-0'><%= I18n.t('sort.with_display_all') %></p>
  <div class='text-center pb-2'>
  <%= link_to I18n.t('sort.latest'), admin_posts_path(sort: 'latest') %>
  |<%= link_to I18n.t('sort.old'), admin_posts_path(sort: 'old') %>
  |<%= link_to I18n.t('sort.favorites_count'), admin_posts_path(sort: 'favorites_count') %>
  </div>

  <!--投稿一覧表示-->
  <%= render 'admin/posts/index', posts: @posts %>

</section>
