<p class='guide-links'>
  <%= link_to I18n.t('top_page'), root_path %>>
  <%= link_to I18n.t('menu'),     admin_root_path %>>
  <%= I18n.t('posts.index.title') %>
</p>

<div class='section-title'><h2><%= I18n.t('posts.index.title') %></h2></div>

<section>
  
  <!--検索バー-->
  <%= form_with url: admin_posts_path, method: :get, local: true do |f| %>
    <div class='form-group row justify-content-end'>
      <%= f.text_field :content, class: 'form-control col-5', placeholder: I18n.t('search_blank') %>
      <%= f.submit I18n.t('search'), class: 'btn btn-sm success-btn ml-3' %>
    </div>
  <% end %>
  
  <!--投稿一覧表示-->
  <%= render 'admin/posts/index', posts: @posts %>
  
</section>
