<p class='guide-links'>
  <%= link_to I18n.t('top_page'),    root_path %>>
  <%= link_to I18n.t('menu'),        admin_root_path %>>
  <%= link_to I18n.t('menus.posts'), admin_posts_path %>>
  <%= @post.title %>
</p>

<div class='section-title'><h2><%= I18n.t('posts.show.title') %></h2></div>

<section>

  <div class='responsive-disabled'>
    <%= image_tag @post.get_post_image(400, 400) %>
  </div>
  <div class='resposive-displayed'>
    <%= image_tag @post.get_post_image(224, 224) %>
  </div>

  <div class='pt-3 d-flex flex-md-row flex-column-reverse'>
    
    <h5 class='col-md-6'>
      <%= @post.title %>
    </h5>
    
    <p class='text-right col-md-6'>
      
      <span class='mr-3'>
        <i class="fa-regular fa-bookmark"></i>
        <%= @post.bookmarks.count %>
      </span>
      
      <span class='mr-3'>
        <i class="fa-regular fa-heart"></i>
        <%= @post.post_favorites.count %>
      </span>
      
      <span class='mr-3'>
        <i class="fa-regular fa-comment"></i>
        <%= @post.comments.count %>
      </span>
      
      <i class="fa-solid fa-chart-line"></i>
      <%= @post.post_views.count %>
    
    </p>
    
  </div>

  <p><%= @post.caption %></p>

  <hr>

  <p><%= @post.body %></p>

  <hr>

  <p>
    <i class="fa-regular fa-clock"></i>
    <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %>
  </p>
  
  <div class='row'>
    <p class='col-md-9'>
      <%= link_to admin_user_path(@post.user.canonical_name) do %>
        by <i class="fa-regular fa-user"></i><%= @post.user.public_name %>
      <% end %>
    </p>
    <div class='col-md-3 text-right'>
      <%= link_to I18n.t('posts.edit.destroy_btn'), admin_post_path(@post.id), method: :delete, 'data-confirm' => I18n.t('posts.destroy.confirmation') %>
    </div>
  </div>
  
  <hr>
  
  <div class='comments pb-5'>
    <%= render 'admin/comments/list', a_post: @post %>
  </div>

</section>