<p class='guide-links'>
  <%= link_to I18n.t('top_page'), root_path %>>
  <%= link_to I18n.t('menu'),     admin_root_path %>>
  <%= I18n.t('categories.title') %>
</p>

<div class='section-title'><h2><%= I18n.t('categories.title') %></h2></div>

<section>
  
  <!--キーワード検索バー-->
  <%= form_with url: admin_categories_path, method: :get, local: true do |f| %>
    <div class='form-group row justify-content-end'>
      <%= f.text_field :content, class: 'form-control col-md-5 col-9', placeholder: I18n.t('search_blank') %>
      <%= f.submit I18n.t('search'), class: 'btn btn-sm success-btn ml-md-3 ml-1' %>
    </div>
  <% end %>
  
  <!--タグ検索バー-->
  <%= form_with url: admin_search_rooms_path, method: :get, local: true do |f| %>
    <div class='form-group row justify-content-end'>
      <%= f.text_field :tag_name, class: 'form-control col-md-5 col-9', placeholder: I18n.t('search_tag') %>
      <%= f.submit I18n.t('search'), class: 'btn btn-sm success-btn ml-md-3 ml-1' %>
    </div>
  <% end %>
  
  <!--ソート切り替えリンク-->
  <div class='text-center py-2'>
  <%= link_to I18n.t('sort.latest'), admin_categories_path(latest: true) %>
  |<%= link_to I18n.t('sort.old'),   admin_categories_path(old: true) %>
  </div> 
  
  <div class='d-flex flex-wrap justify-content-center'>
    
    <% if @categories.exists? %>
    
      <% @categories.each do |category| %>
        <%= link_to admin_category_counseling_rooms_path(category.id) do %>
          <div class='category-item'>
  
            <p class='overflow-hidden text-nowrap text-truncate'>
              <%= category.name %>
            </p>
            
            <div class='text-right'>
              <i class="fa-solid fa-door-open"></i>
              <%= category.counseling_rooms.count %>
              
              <%= link_to I18n.t('destroy'), admin_category_path(category.id), method: :delete, 
                                             'data-confirm' => I18n.t('categories.destroy.confirmation') %>
            </div>
  
          </div>
        <% end %>
      <% end %>
      
    <div class='d-flex justify-content-center mt-3'>
      <%= paginate @categories, theme: 'bootstrap-5' %>
    </div>
      
    <% else %><!--カテゴリが存在しない場合-->
      <p class='mt-5 text-center'><%= I18n.t('categories.index.no_exist') %></p>
    <% end %>
    
  </div>
  
</section>