<p class='guide-links'>
  <%= link_to I18n.t('top_page'), root_path, data: { turbolinks: false } %>>
  <%= link_to I18n.t('menu'),     admin_root_path %>>
  <%= I18n.t('categories.title') %>
</p>

<div class='section-title'><h2><%= I18n.t('categories.title') %></h2></div>

<section>
  
  <!--キーワード検索バー-->
  <%= form_with url: admin_categories_path, method: :get, local: true do |f| %>
    <div class='row justify-content-md-end justify-content-center'>
      <div class='form-group col-md-5 col-10 mb-1'>
        <%= f.select :sort, [[I18n.t('sort.latest'), 'latest'],[I18n.t('sort.old'), 'old']], selected: @sort, class: 'form-control' %>
      </div>
    </div>
    <div class='row justify-content-md-end justify-content-center'>
      <div class='form-group col-md-5 col-9'>
        <%= f.text_field :keyword, value: @keyword, class: 'form-control', placeholder: I18n.t('search_blank') %>
      </div>
      <div class='form-group mt-1'>
        <%= f.submit I18n.t('search'), class: 'btn btn-sm success-btn' %>
      </div>
    </div>
  <% end %>
  
  <!--タグ検索バー-->
  <%= form_with url: admin_search_rooms_path, method: :get, local: true do |f| %>
    <div class='row justify-content-md-end justify-content-center'>
      <div class='form-group col-md-5 col-9'>
        <%= f.text_field :tag_name, class: 'form-control', placeholder: I18n.t('search_tag') %>
      </div>
      <div class='form-group mt-1'>
        <%= f.submit I18n.t('search'), class: 'btn btn-sm success-btn' %>
      </div>
    </div>
  <% end %>
  
  <!--ソート切り替えリンク-->
  <p class='md-font text-center mb-0'><%= I18n.t('sort.with_display_all') %></p>
  <div class='text-center pb-2'>
  <%= link_to I18n.t('sort.latest'), admin_categories_path(sort: 'latest') %>
  |<%= link_to I18n.t('sort.old'),   admin_categories_path(sort: 'old') %>
  </div> 
  
  <div class='d-flex flex-wrap justify-content-center'>
    
    <% if @categories.any? %>
    
      <% @categories.each do |category| %>
        <%= link_to admin_category_counseling_rooms_path(category.id) do %>
          <div class='category-item'>
  
            <p class='overflow-hidden text-nowrap text-truncate'>
              <%= category.name %>
            </p>
            
            <div class='text-right'>
              <i class="fa-solid fa-door-open"></i>
              <%= category.counseling_rooms.count %>
              
              <object>
                <%= link_to I18n.t('destroy'), admin_category_path(category.id), method: :delete, 
                                               'data-confirm' => I18n.t('categories.destroy.confirmation') %>
              </object>
            </div>
  
          </div>
        <% end %>
      <% end %>
      
    <div class='d-flex justify-content-center mt-3'>
      <%= paginate @categories, theme: 'bootstrap-5' %>
    </div>
    
    <% else %><!--カテゴリが存在しない場合-->
      <p class='mt-5 text-center'><%= I18n.t('categories.index.no_exist') %></p>
    <% end %>
    
  </div>
  
</section>