<% if users.any? %><!--ユーザーが存在する場合-->

  <div class='d-flex flex-wrap justify-content-center'>

    <% users.each do |user| %> <!--各ユーザーの情報表示-->
      <%= link_to admin_user_path(user.canonical_name) do %>
        <div class='user-index-item'>

          <div class='d-flex'>

            <%= image_tag user.get_profile_image(40, 40), class: 'rounded-circle mr-2' %>

            <% unless user.is_active %>
              <span class='text-danger'><%= I18n.t('users.index.inactive') %></span>
            <% end %>

          </div>

          <p class='overflow-hidden text-nowrap text-truncate mb-0'>
            @<%= user.canonical_name %>
          </p><hr>

          <p class='overflow-hidden text-nowrap text-truncate mb-0'>
            <%= user.public_name %>
          </p>

          <p class='mb-0'>
            <span class=<%= user.get_class_associated_with_position %>>
              <%= user.position_i18n %>
            </span>
          </p>

          <p class='overflow-hidden text-nowrap text-truncate'>
            <%= user.introduction %>
          </p>

          <p class='user-index-chart-box d-flex'>
            <span class='mr-2'>
              <i class="fa-regular fa-image"></i>
              <%= user.posts.count %>
            </span>
            <span>
              <i class="fa-solid fa-handshake-angle"></i>
              <%= user.followers.count %>
            </span>
          </p>

        </div>
      <% end %>
    <% end %>
  </div>
    
  <div class='d-flex justify-content-center mt-3'>
    <%= paginate users, theme: 'bootstrap-5' %>
  </div>

<% else %><!--ユーザーが存在しない場合-->
  <p class='mt-5 text-center'><%= I18n.t('users.index.not_exist') %></p>
<% end %>
