<p class='guide-links'>
  <%= link_to I18n.t('top_page'), root_path %>>
  <%= link_to I18n.t('menu'),     admin_root_path %>>
  <%=  I18n.t('menus.users') %>
</p>

<div class='section-title'><h2><%= I18n.t('users.index.title') %></h2></div>

<section>

  <!--検索バー-->
  <%= form_with url: admin_users_path, method: :get, local: true do |f| %>
    <div class='form-group row justify-content-end'>
      <%= f.text_field :content, class: 'form-control col-md-5 col-9', placeholder: I18n.t('search_blank') %>
      <%= f.submit I18n.t('search'), class: 'btn btn-sm success-btn ml-md-3 ml-1' %>
    </div>
  <% end %>

  <!--ソート切り替えリンク-->
  <div class='text-center py-2'>
  <%= link_to I18n.t('sort.user_latest'),  admin_users_path(latest: true) %>
  |<%= link_to I18n.t('sort.user_old'),    admin_users_path(old: true) %>
  |<%= link_to I18n.t('sort.posts_count'), admin_users_path(posts_count: true) %>
  </div>

  <!--ユーザー一覧の表示-->
  <%= render 'admin/users/index', users: @users %>
  
</section>