<p class='guide-links'>
  <%= link_to I18n.t('top_page'), root_path %>>
  <%= link_to I18n.t('menu'),     admin_root_path %>>
  <%=  I18n.t('menus.users') %>
</p>

<div class='section-title'><h2><%= I18n.t('users.index.title') %></h2></div>

<section>
  
  <!--検索バー-->
  <%= form_with url: admin_users_path, method: :get, local: true do |f| %>
    <div class='form-group row justify-content-end'>
      <%= f.text_field :content, class: 'form-control col-5', placeholder: I18n.t('search_blank') %>
      <%= f.submit I18n.t('search'), class: 'btn btn-sm success-btn ml-3' %>
    </div>
  <% end %>
  
  <!--ユーザー一覧の表示-->
  <div class='d-flex flex-wrap justify-content-center'>

    <% if @users.present? %><!--ユーザーが存在する場合-->

      <% @users.each do |user| %> <!--各ユーザーの情報表示-->
        <%= link_to admin_user_path(user.canonical_name) do %>
          <div class='index-item'>

            <%= image_tag user.get_profile_image(25, 25), class: 'rounded-circle mr-2' %>

            <p>@<%= user.canonical_name %></p><hr>

            <p><%= user.public_name %></p>

            <p class=<%= user.get_class_associated_with_position %>>
              <%= user.position_i18n %>
            </p>

            <p class='overflow-hidden text-nowrap text-truncate'>
              <%= user.introduction %>
            </p>

            <% unless user.is_active %>
              <p class='text-danger'><strong>退会済み</strong></p>
            <% end %>

          </div>
        <% end %>
      <% end %>

    <% else %><!--ユーザーが存在しない場合-->
      <p class='mt-5'><%= I18n.t('users.index.not_exist') %></p>
    <% end %>

  </div>

  <div class='d-flex justify-content-center py-3'>
    <%= paginate @users, theme: 'bootstrap-5' %>
  </div>

</section>