<div id='notifications-box' class='overflow-auto'>
  
  <p class='text-right mb-0'>
    <span id='close-notification-box'>
      <%= link_to '#' do %>
        <i class="fa-solid fa-xmark"></i>
      <% end %>
    </span>
  </p>

  <% if current_user.notifications.where(read: false).any? %>
    <p class='disabled sm-font'>
      <%= I18n.t('notifications.limited_by') %>
    </p>
    <p class='sm-font text-right'>
      <%= link_to I18n.t('notifications.clear_all'), clear_all_notifications_path, method: :patch %>
    </p>
    
    <% current_user.notifications.where(read: false).limit(10).order(created_at: :desc).each do |notification| %>
      <p class='md-font'>・<%= link_to notification.message, notification, method: :patch %></p>
    <% end %>
    
  <% else %>
    <p class='disabled text-center'><%= I18n.t('notifications.non_exist') %></p>
  <% end %>
  
</div>