<% if current_tab == 'managing_rooms_tab' %>
  <div class='d-md-block d-none'>
    <ul id="tab-menu" class='d-flex justify-content-around'>
      <li><a href="#main_tab"                class=""      ><%= I18n.t('users.insite.main_tab') %></a></li>
      <li><a href="#managing_rooms_tab"      class="active"><%= I18n.t('users.insite.managing_rooms_tab') %></a></li>
      <li><a href="#participating_rooms_tab" class=""      ><%= I18n.t('users.insite.participating_rooms_tab') %></a></li>
      <li><a href="#applying_rooms_tab"      class=""      ><%= I18n.t('users.insite.applying_rooms_tab') %></a></li>
    </ul>
  </div>
  <div class='d-md-none'>
    <ul id="tab-menu">
      <div class='row'>
        <li class='col-6'><a href="#main_tab"                class=""      ><%= I18n.t('users.insite.main_tab') %></a></li>
        <li class='col-6'><a href="#managing_rooms_tab"      class="active"><%= I18n.t('users.insite.managing_rooms_tab') %></a></li>
      </div>
      <div class='row mt-1'>
        <li class='col-6'><a href="#participating_rooms_tab" class=""      ><%= I18n.t('users.insite.participating_rooms_tab') %></a></li>
        <li class='col-6'><a href="#applying_rooms_tab"      class=""      ><%= I18n.t('users.insite.applying_rooms_tab') %></a></li>
      </div>
    </ul>
  </div>
<% elsif current_tab == 'participating_rooms_tab' %>
  <div class='d-md-block d-none'>
    <ul id="tab-menu" class='d-flex justify-content-around'>
      <li><a href="#main_tab"                class=""      ><%= I18n.t('users.insite.main_tab') %></a></li>
      <li><a href="#managing_rooms_tab"      class=""      ><%= I18n.t('users.insite.managing_rooms_tab') %></a></li>
      <li><a href="#participating_rooms_tab" class="active"><%= I18n.t('users.insite.participating_rooms_tab') %></a></li>
      <li><a href="#applying_rooms_tab"      class=""      ><%= I18n.t('users.insite.applying_rooms_tab') %></a></li>
    </ul>
  </div>
  <div class='d-md-none'>
    <ul id="tab-menu">
      <div class='row'>
        <li class='col-6'><a href="#main_tab"                class=""      ><%= I18n.t('users.insite.main_tab') %></a></li>
        <li class='col-6'><a href="#managing_rooms_tab"      class=""      ><%= I18n.t('users.insite.managing_rooms_tab') %></a></li>
      </div>
      <div class='row mt-1'>
        <li class='col-6'><a href="#participating_rooms_tab" class="active"><%= I18n.t('users.insite.participating_rooms_tab') %></a></li>
        <li class='col-6'><a href="#applying_rooms_tab"      class=""      ><%= I18n.t('users.insite.applying_rooms_tab') %></a></li>
      </div>
    </ul>
  </div>
<% elsif current_tab == 'applying_rooms_tab' %>
  <div class='d-md-block d-none'>
    <ul id="tab-menu" class='d-flex justify-content-around'>
      <li><a href="#main_tab"                class=""      ><%= I18n.t('users.insite.main_tab') %></a></li>
      <li><a href="#managing_rooms_tab"      class=""      ><%= I18n.t('users.insite.managing_rooms_tab') %></a></li>
      <li><a href="#participating_rooms_tab" class=""      ><%= I18n.t('users.insite.participating_rooms_tab') %></a></li>
      <li><a href="#applying_rooms_tab"      class="active"><%= I18n.t('users.insite.applying_rooms_tab') %></a></li>
    </ul>
  </div>
  <div class='d-md-none'>
    <ul id="tab-menu">
      <div class='row'>
        <li class='col-6'><a href="#main_tab"                class=""      ><%= I18n.t('users.insite.main_tab') %></a></li>
        <li class='col-6'><a href="#managing_rooms_tab"      class=""      ><%= I18n.t('users.insite.managing_rooms_tab') %></a></li>
      </div>
      <div class='row mt-1'>
        <li class='col-6'><a href="#participating_rooms_tab" class=""      ><%= I18n.t('users.insite.participating_rooms_tab') %></a></li>
        <li class='col-6'><a href="#applying_rooms_tab"      class="active"><%= I18n.t('users.insite.applying_rooms_tab') %></a></li>
      </div>
    </ul>
  </div>
<% else %>
  <div class='d-md-block d-none'>
    <ul id="tab-menu" class='d-flex justify-content-around'>
      <li><a href="#main_tab"                class="active"><%= I18n.t('users.insite.main_tab') %></a></li>
      <li><a href="#managing_rooms_tab"      class=""      ><%= I18n.t('users.insite.managing_rooms_tab') %></a></li>
      <li><a href="#participating_rooms_tab" class=""      ><%= I18n.t('users.insite.participating_rooms_tab') %></a></li>
      <li><a href="#applying_rooms_tab"      class=""      ><%= I18n.t('users.insite.applying_rooms_tab') %></a></li>
    </ul>
  </div>
  <div class='d-md-none'>
    <ul id="tab-menu">
      <div class='row'>
        <li class='col-6'><a href="#main_tab"                class="active"><%= I18n.t('users.insite.main_tab') %></a></li>
        <li class='col-6'><a href="#managing_rooms_tab"      class=""      ><%= I18n.t('users.insite.managing_rooms_tab') %></a></li>
      </div>
      <div class='row mt-1'>
        <li class='col-6'><a href="#participating_rooms_tab" class=""      ><%= I18n.t('users.insite.participating_rooms_tab') %></a></li>
        <li class='col-6'><a href="#applying_rooms_tab"      class=""      ><%= I18n.t('users.insite.applying_rooms_tab') %></a></li>
      </div>
    </ul>
  </div>
<% end %>