<p class='guide-links'>
  <%= link_to I18n.t('top_page'),    root_path %>>
  <%= link_to I18n.t('menu'),        menu_path %>>
  <%= link_to I18n.t('menus.users'), users_path %>>
  @<%= link_to @user.canonical_name, user_path(@user.canonical_name) %>>
  <%= I18n.t('users.insite.title') %>
</p>

<div class='section-title'>
  <h2><%= I18n.t('users.insite.title') %></h2>
</div>

<section>

  <div class='d-md-block d-none'>
    <ul id="tab-menu" class='d-flex justify-content-around'>
      <li><a href="#main_tab" class="active"         ><%= I18n.t('users.insite.main_tab') %></a></li>
      <li><a href="#managing_rooms_tab" class=""     ><%= I18n.t('users.insite.managing_rooms_tab') %></a></li>
      <li><a href="#participating_rooms_tab" class=""><%= I18n.t('users.insite.participating_rooms_tab') %></a></li>
      <li><a href="#applying_rooms_tab" class=""     ><%= I18n.t('users.insite.applying_rooms_tab') %></a></li>
    </ul>
  </div>

  <div class='d-md-none'>
    <ul id="tab-menu">
      <div class='row'>
        <li class='col-6'><a href="#main_tab" class="active"         ><%= I18n.t('users.insite.main_tab') %></a></li>
        <li class='col-6'><a href="#managing_rooms_tab" class=""     ><%= I18n.t('users.insite.managing_rooms_tab') %></a></li>
      </div>
      <div class='row mt-1'>
        <li class='col-6'><a href="#participating_rooms_tab" class=""><%= I18n.t('users.insite.participating_rooms_tab') %></a></li>
        <li class='col-6'><a href="#applying_rooms_tab" class=""     ><%= I18n.t('users.insite.applying_rooms_tab') %></a></li>
      </div>
    </ul>
  </div>


  <div id='tab-contents'>

    <!--以下、「総合インサイト」タブ選択時の表示-->
    <div id='main_tab' class='tab'>

      <p class='text-center tab-title'><%= I18n.t('users.insite.main_tab') %></p>

      <!--後ほど実装予定-->
      Coming soon...

    </div>

    <!--以下、「あなたの相談室」タブ選択時の表示-->
    <div id='managing_rooms_tab' class='tab'>

      <p class='text-center tab-title'><%= I18n.t('users.insite.main_tab') %></p>

      <%= render 'public/counseling_rooms/index', counseling_rooms: @rooms_managing %>

    </div>

    <!--以下、「参加中相談室」タブ選択時の表示-->
    <div id='participating_rooms_tab' class='tab'>

      <p class='text-center tab-title'><%= I18n.t('users.insite.main_tab') %></p>

      <%= render 'public/counseling_rooms/index', counseling_rooms: @rooms_participated_in %>

    </div>

    <!--以下、「参加申請中相談室」タブ選択時の表示-->
    <div id='applying_rooms_tab' class='tab'>

      <p class='text-center tab-title'><%= I18n.t('users.insite.main_tab') %></p>

      <%= render 'public/counseling_rooms/index', counseling_rooms: @rooms_applying_for %>

    </div>

  </div>
</section>
<%= javascript_pack_tag 'insite' %>