<p class='guide-links'>
  <%= link_to I18n.t('top_page'),    root_path, data: { turbolinks: false } %>>
  <%= link_to I18n.t('menu'),        menu_path %>>
  <%= link_to I18n.t('menus.users'), users_path %>>
  @<%= link_to @user.canonical_name, user_path(@user.canonical_name) %>>
  <%= I18n.t('users.insite.title') %>
</p>

<div class='section-title'>
  <h2><%= I18n.t('users.insite.title') %></h2>
</div>

<section>

  <%= render 'public/users/insite_tab_links', current_tab: @current_tab %>

  <div id='tab-contents'>

    <!--以下、「総合インサイト」タブ選択時の表示-->
    <div id='main_tab' class='tab'>

      <p class='text-center tab-title'><%= I18n.t('users.insite.main_tab') %></p>

      <%= render 'public/users/insite_main', user: @user, required_data: @required_data, data: @data %>

    </div>

    <!--以下、「あなたの相談室」タブ選択時の表示-->
    <div id='managing_rooms_tab' class='tab'>
      <p class='text-center tab-title'><%= I18n.t('users.insite.managing_rooms_tab') %></p>
      <%= render 'public/counseling_rooms/index', counseling_rooms: @rooms_managing, param_name: 'managing_rooms_page', current_tab: 'managing_rooms_tab' %>
    </div>

    <!--以下、「参加中相談室」タブ選択時の表示-->
    <div id='participating_rooms_tab' class='tab'>
      <p class='text-center tab-title'><%= I18n.t('users.insite.participating_rooms_tab') %></p>
      <%= render 'public/counseling_rooms/index', counseling_rooms: @rooms_participated_in, param_name: 'participating_rooms_page', current_tab: 'participating_rooms_tab' %>
    </div>

    <!--以下、「参加申請中相談室」タブ選択時の表示-->
    <div id='applying_rooms_tab' class='tab'>
      <p class='text-center tab-title'><%= I18n.t('users.insite.applying_rooms_tab') %></p>
      <%= render 'public/counseling_rooms/index', counseling_rooms: @rooms_applying_for, param_name: 'applying_rooms_page', current_tab: 'applying_rooms_tab' %>
    </div>

  </div>
</section>

<script>
  $('#tab-contents .tab[id !=<%= @current_tab %>]').hide();
</script>
<%= javascript_pack_tag 'insite' %>