<p class='guide-links'>
  <%= link_to I18n.t('top_page'),    root_path %>>
  <%= link_to I18n.t('menu'),        menu_path %>>
  <%= link_to I18n.t('menus.users'), users_path %>>
  @<%= @user.canonical_name %>
</p>

<div class='section-title'><h2>@<%= @user.canonical_name %></h2></div>

<section>

  <div class='row justify-content-center'>
    <div class='col-md-4'><!--ユーザーの情報-->

      <%= image_tag @user.get_profile_image(60, 60), class: 'rounded-circle' %>

      <% if @user == current_user %><!--自分のページでのみ編集ボタン表示される-->
        <%= link_to edit_user_path(current_user.canonical_name) do %>
          <i class="fa-solid fa-gear"></i>
        <% end %>
      <% end %>

      <p class='my-3'><strong><%= @user.public_name %></strong></p>

      <p class='mb-3'> <!--positionによってcss表示カラー変わる-->
        <%= I18n.t('users.show.position_start') %>
        <span class=<%= @user.get_class_associated_with_position %>>
          <%= @user.position_i18n %>
        </span>
        <%= I18n.t('users.show.position_end') %>
      </p>

      <p><%= @user.introduction %></p>
    </div>

    <div class='col-md-8'>

      <% if @user == current_user %><!--自分のページでのみ新規作成ボタン表示される-->
        <%= link_to new_post_path do %>
          <%= I18n.t('posts.new.title') %>
          <i class="fa-solid fa-plus"></i>
        <% end %>
      <% end %>
      
      <!--以下、「ユーザー投稿一覧」タブ選択時の表示-->

      <!--検索バー-->
      <%= form_with url: user_path(@user.canonical_name), method: :get, local: true do |f| %>
        <div class='form-group row justify-content-end'>
          <%= f.text_field :content, class: 'form-control col-md-5 col-9 mt-2', placeholder: I18n.t('search_blank') %>
          <%= f.submit I18n.t('search'), class: 'btn btn-sm success-btn ml-3' %>
        </div>
      <% end %>

      <!--ユーザーの投稿一覧表示-->
      <%= render 'public/posts/index', posts: @posts %>
      
      <!--以下、「ブックマーク一覧」タブ選択時の表示-->
      
      <!--検索バー-->
      <%= form_with url: user_path(@user.canonical_name), method: :get, local: true do |f| %>
        <div class='form-group row justify-content-end'>
          <%= f.text_field :content_in_bookmarks, class: 'form-control col-md-5 col-9 mt-2', placeholder: I18n.t('search_blank') %>
          <%= f.submit I18n.t('search'), class: 'btn btn-sm success-btn ml-3' %>
        </div>
      <% end %>

      <!--ユーザーの投稿一覧表示-->
      <%= render 'public/posts/index', posts: @bookmarked_posts %>
      
      <!--以下、「フォローユーザー投稿一覧」タブ選択時の表示-->
      <!--後ほど実装予定-->
      
    </div>
  </div>

</section>
