<ul>
  
  <% if user_signed_in? %>
  
    <li class='mb-4'>
      <%= link_to menu_path do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
    </li>
    
    <div class='dropdown dropleft mb-4'>
      <span class='dropdown-toggle position-relative notification-icon' id='dropdownMenuButton' data-toggle='dropdown'>
        <i class="fa-solid fa-bell"></i>
        <% if current_user.is_there_unread_notification %>
          <span class='position-absolute top-0 start-0 text-danger'>・</span>
        <% end %>
      </span>
      <div class='dropdown-menu'>
        <% if current_user.is_there_unread_notification %>
          <p class='dropdown-item disabled sm-font'><%= I18n.t('notifications.limited_by') %></p>
          <% current_user.notifications.limit(10).order(created_at: :desc).each do |notification| %>
            <p>
              ・<%= link_to notification.message, notification_path, method: :patch, class: 'dropdown-item' %>
            </p>
          <% end %>
        <% else %>
          <p class='dropdown-item disabled text-center'><%= I18n.t('notifications.non_exist') %></p>
        <% end %>
      </div>
      
    </div>
    
    <li class='mb-4'>
      <%= link_to user_path(current_user.canonical_name) do %>
        <span class='responsive-disabled'><%= I18n.t('mypage') %></span>
        <span class='resposive-displayed'><i class="fa-solid fa-user-check"></i></span>
      <% end %>
    </li>
    
    <li class='mb-4'>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <span class='responsive-disabled'><%= I18n.t('signout') %></span>
        <span class='resposive-displayed'><i class="fa-solid fa-right-from-bracket"></i></span>
      <% end %>
    </li>
      
    <li class='responsive-disabled'>
      <%= link_to I18n.t('about'), about_path %>
    </li>
    
  <% elsif admin_signed_in? %>
  
    <li class='mb-4'>
      <%= link_to admin_root_path do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
    </li>
    
    <li>
      <%= link_to destroy_admin_session_path, method: :delete do %>
        <span class='responsive-disabled'><%= I18n.t('signout') %></span>
        <span class='resposive-displayed'><i class="fa-solid fa-right-from-bracket"></i></span>
      <% end %>
    </li>
    
  <% else %>
  
    <li class='mb-4'>
      <%= link_to root_path do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
    </li>
    
    <li class='mb-4'>
      <%= link_to new_user_registration_path do %>
        <span class='responsive-disabled'><%= I18n.t('signin') %></span>
        <span class='resposive-displayed'><i class="fa-solid fa-user-plus"></i></span>
      <% end %>
    </li>
    
    <li class='mb-4'>
      <%= link_to new_user_session_path do %>
        <span class='responsive-disabled'><%= I18n.t('login') %></span>
        <span class='resposive-displayed'><i class="fa-solid fa-right-to-bracket"></i></span>
      <% end %>
    </li>
    
    <li class='responsive-disabled'>
      <%= link_to I18n.t('about'), about_path %>
    </li>
    
  <% end %>
  
</ul>