<ul>
  
  <% if user_signed_in? %>
    <li class='mb-4'><%= link_to menu_path do %><i class="fa-solid fa-house"></i><% end %></li>
    <li class='mb-4'><%= link_to I18n.t('mypage'),  menu_path %><!--後ほど正しいリンクへ--></li>
    <li             ><%= link_to I18n.t('signout'), destroy_user_session_path, method: :delete %></li>
    
  <% elsif admin_signed_in? %>
    <li class='mb-4'><%= link_to admin_root_path do %><i class="fa-solid fa-house"></i><% end %></li>
    <li             ><%= link_to I18n.t('signout'), destroy_admin_session_path, method: :delete %></li>
    
  <% else %>
    <li class='mb-4'><%= link_to root_path do %><i class="fa-solid fa-house"></i><% end %></li>
    <li class='mb-4'><%= link_to I18n.t('signin'),  new_user_registration_path %></li>
    <li class='mb-4'><%= link_to I18n.t('login'),   new_user_session_path %></li>
    <li             ><%= link_to I18n.t('about'),   about_path %></li>
  <% end %>
  
</ul>