<!DOCTYPE html>
<html>
  <head>
    <title>TasaiJapan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/945e2890b0.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <p id='locale-select-button' class='text-center'>
      <span><%= I18n.t('languages.japanese') %></span>
      <% if I18n.locale.to_s == 'en' %>
        <%= link_to :locale => 'ja', data: { turbolinks: false } do %>
          <i class="fa-solid fa-toggle-on"></i>
        <% end %>
      <% else %>
        <%= link_to :locale => 'en', data: { turbolinks: false } do %>
          <i class="fa-solid fa-toggle-off"></i>
        <% end %>
      <% end %>
      <span><%= I18n.t('languages.english') %></span>
    </p>
    
    <header>
      <%= render 'layouts/header' %>
    </header>

    <main>
      <div class='w-100 text-center mt-2' style='color: #8f2e14'><%= flash[:alert] %></div>
      <div class='w-100 text-center mt-2' style='color: #84a2d4'><%= flash[:notice] %></div>
      <%= yield %>
      <%= render 'layouts/btn_to_pagetop' %>
    </main>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>
    <p class='d-md-none copy-right'>© sgmkhr</p><!--レスポンシブ時に表示のコピーライト-->
    
  </body>
</html>
